
.container {
    max-width: 1200px;
    min-height: 100vh;
    width: 98%;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    background-color: #ddd;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 15px 10px;
}
.spacing {
    margin-bottom: 20px;
}

.column {
    float: left;
}

.two-thirds,
.one-half,
.one-third,
.one-fourth,
.one-sixth,
.one-eighth {
    float: left;
    width: 100%;
}




@media screen and (min-width: 768px) {

    .one-half, .two-fourth, .three-sixth {
        width: calc(100% / 2);
    }
    .one-third {
        width: calc(100% / 3);
    }
    .one-fourth {
        width: calc(100% / 4);
    }
    .one-sixth {
        width: calc(100% / 16);
    }
    .one-eighth {
        width: calc(100% / 8);
    }
    .two-third {
        width: calc(200% / 3);
    }
    .three-eighth {
        width: calc(300% / 8);
    }
    .offset-one-half, .offset-two-fourth, .offset-three-sixth {
        margin-left: calc(100% / 2);
    }
    .offset-one-third {
        margin-left: calc(100% / 3);
    }
    .offset-one-fourth {
        margin-left: calc(100% / 4);
    }
    .offset-one-sixth {
        margin-left: calc(100% / 16);
    }
    .offset-one-eighth {
        width: calc(100% / 8);
        margin-left: calc(100% / 8);
    }
    .offset-two-third {
        margin-left: calc(200% / 3);
    }
    .offset-three-eighth {
        margin-left: calc(300% / 8);
    }

}
