
.container {
    max-width: 1200px;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    background-color: #ddd;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 15px 10px;
}
.spacing {
    margin-bottom: 20px;
}


.two-thirds,
.one-half,
.one-third,
.one-fourth,
.one-sixth,
.one-eighth {
    float: left;
    width: 100%;
}




@media screen and (min-width: 768px) {

    .two-thirds {
        width: calc(200% / 3);
    }
    .one-half {
        width: calc(100% / 2);
    }
    .one-third {
        width: calc(100% / 3);
    }
    .one-fourth {
        width: calc(100% / 4);
    }
    .one-sixth {
        width: calc(100% / 16);
    }
    .one-eighth {
        width: calc(100% / 8);
    }

}
