body {
    font-family: 'Cormorant Garamond', serif;
    margin: 10px;
}

.resumeHeadline {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.resumeContent{
    font-size: 10pt;
}

.sectionHeader{
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 10px;
    font-weight: bold;

}

.contentHeader{
    font-weight: bold;
    font-size: 10pt;
    font-weight: bold;

}
.proExperienceDate{
    font-weight: bold;
    float: right;
}

.inlineBlock li{
    display:inline-block;
}

.left{
    text-align: left;
    padding-left: 0;
}

.alignLeft{
    text-align: left;
    padding-left: 15px;
}
.noPaddingLeft{
    padding-left: 0;
}

.eduContent{
    margin-top: 5px;
}

.center{
    text-align: center;
}
