
body {
    font-family: 'Cormorant Garamond', serif;
    margin: 3em;
}
ul {
    list-style-type: none;
}
hr {
    border-color: black;
    margin-top: .6em;
    margin-bottom: .6em;
}

a {
    color: black;
    text-decoration: none;
}
.resumeHeadline {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}
.sectionHeader {
    font-size: 1.6em;
    font-weight: bold;

}
.resumeContent {
    font-size: 1.2em;
}

.contentHeader {
    font-weight: bold;
    font-size: 1.4em;

}
.proExperienceDate {
    font-weight: bold;
    float: right;
}
.inlineBlock li {
    display: inline-block;
}
.left {
    text-align: left;
    padding-left: 0;
}
.alignLeft {
    text-align: left;
    padding-left: .94em;
}
.noPaddingLeft {
    padding-left: 0;
}

.center {
    text-align: center;
}

@media print {
    @page {
	margin: 0;
	page-break-before: auto;
    }
    body {
        margin: 2em;
    }
    .resumeHeadline {
        font-size: 20pt;
    }
    .resumeContent {
        font-size: 10pt;
    }
    .sectionHeader {
        font-size: 11pt;
    }
    .contentHeader {
        font-size: 10pt;
    }
}
