/*
multi
line
comment
*/

.fancy-header {
    text-align: center;
}

h2 {
    color: chartreuse;
    text-decoration: underline;
}

body{
    /*background-color: darkgrey;*/
    background-image: url(../images/large.png);
    /*background-repeat:no-repeat;*/
    /*background-position: center center;*/
    background-size: cover;
    font-family: sans-serif;
}

li {
    list-style: decimal;
}
