.jumbotron {
    background-image: url("../../images/pizza.png");
    background-size: cover;
}
.jumbotron h1 {
    color: black;
    text-align: center;
    background-color: white;
    opacity: .7;
}
label{
    font-weight: normal;
    display: block;
}

input {
    float: left;
    margin-right: 1%;
}